*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
@media (max-width: 700px) {
    html{
    font-size: 52.5%;
}
}
@media (max-width: 650px) {
    html{
    font-size: 42.5%;
}
}
@media (max-width: 550px) {
    html{
    font-size: 32.5%;
}
}
@media (max-width: 350px) {
    html{
    font-size: 22.5%;
}
}
body{
    padding: 9rem;
    background: linear-gradient(90deg, #40e0d0, #00b4db);
}
.container{
    width: 100%;
    max-width: 40rem;
    background-color: #ffffff;
    margin: 3rem auto;
    text-align: center;
    padding: 2rem ;
    border-radius: .5rem;
}

h1{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 4rem;
}
.stopwatch__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.stop{
    width: 4rem;
    cursor: pointer;
}
.start{
    width: 7rem;
    cursor: pointer;
}
.restart{
    width: 4.5rem;
    cursor: pointer;
}